#subject_select_wrapper{
    /* padding-top: 0; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#subject_select_wrapper a{
    padding: 5px 10px;
    background: #ffd3b1;
    border-radius: 4px;
    display: block;
    text-decoration: none;
    color: #863600;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

#subject_select_wrapper .a_active{
    background: #ff770f;
    color: white;
}

#table_wrapper #table{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    /* grid-template-columns: ; */
    max-width: 100%;
    overflow-x: scroll;
}

#table_wrapper #table div{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.table_head{
    font-weight: 600;
}

#actions_wrapper a{
    background: #99DAB2;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}